<%- include('header.ejs') %>
  <style>
  #navbar-devicecontrol-text {
    color: #00adb5 !important;
  }
  </style>
    <title>Device control - Foodbot</title>

    <style>
      body{
        background-color: rgb(214, 210, 210);
      }
        .food-containers{
          background-color: #323650;
          width: 20%;
          height: auto;
          margin-left: 2%;
          margin-right: 2%;
          display: inline-block;
          margin-top: 2%; 
          border-radius: 25px;
          padding-bottom: 2%;
          margin-bottom: 3%;
        }
        .container-inside-text{
          margin-top: 4%;
          color: white;
          text-align: center;
          font-weight: bolder;
          font-size: 2.7vw;
          margin-bottom: 0px;
          text-transform: uppercase;
        }
        .container-food-photo{
          width: 16vw;
          height: 16vw;
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-bottom: 5%;
        }
        .container-number{
          text-align: center;
          font-size: 1.2vw;
          color: #e4e5ec;
        }
        .container-selector{
          margin-left: auto;
          margin-right: auto;
          display: block;
          margin-top: 3%;
          background-color: #0563af;
          color: white;
          border: 2px solid #0563af;
          padding-left: 5%;
          padding-right: 5%;
          font-size: 1.3vw;
          font-weight: bold;
          margin-bottom: 1%;
          width: 80%;
        }
        #other-name-input{
          text-align: center;
          margin-left: 10%;
        }
        
    </style>
    <div class="food-containers">
      <h1 class="container-inside-text"><%= data["container_1"]["name"][language] %></h1>
      <% if(language=="en"){ %>
        <h2 class="container-number">Container 1</h2>
      <% } %>
      <% if(language=="am"){ %>
        <h2 class="container-number">Տարրա 1</h2>
      <% } %>
      <img src="<%= data["container_1"]["image_path"] %>" class="container-food-photo" alt="">
      <select class="container-selector" name="container-1" onchange="add_input(this.id);">
        <% if(language=="en"){ %>
          <option value="bread" selected>Bread</option>
        <% } %>
        <% if(language=="am"){ %>
          <option value="bread" selected>Հաց</option>
        <% } %>
      </select>
  </div>









  <div class="food-containers">
    <h1 class="container-inside-text"><%= data["container_2"]["name"][language] %></h1>
    <% if(language=="en"){ %>
      <h2 class="container-number">Container 2</h2>
    <% } %>
    <% if(language=="am"){ %>
      <h2 class="container-number">Տարրա 2</h2>
    <% } %>
    <img src="<%= data["container_2"]["image_path"] %>" class="container-food-photo" alt="">
    <select class="container-selector" id="container-2" name="container-2" onchange="add_input(this.id);">
      <% if(language=="en"){ %>
        <option value="bread" selected disabled>Choose other food</option>
        <option value="bread">Tomato</option>
        <option value="bread">Cucumber</option>
        <option value="bread">Sausage</option>
        <option value="bread">Other</option>
      <% } %>
      <% if(language=="am"){ %>
        <option value="bread" selected disabled>Ընտրել այլ ուտելիք</option>
        <option value="bread">Լոլիկ</option>
        <option value="bread">Վարունգ</option>
        <option value="bread">Երշիկ</option>
        <option value="bread">Այլ</option>
      <% } %>
    </select>
</div>


<div class="food-containers">
  <h1 class="container-inside-text"><%= data["container_3"]["name"][language] %></h1>
  <% if(language=="en"){ %>
    <h2 class="container-number">Container 3</h2>
  <% } %>
  <% if(language=="am"){ %>
    <h2 class="container-number">Տարրա 3</h2>
  <% } %>
  <img src="<%= data["container_3"]["image_path"] %>" class="container-food-photo" alt="">
  <select class="container-selector" name="container-2">
    <% if(language=="en"){ %>
      <option value="bread" selected disabled>Choose other food</option>
      <option value="bread">Tomato</option>
      <option value="bread">Cucumber</option>
      <option value="bread">Sausage</option>
      <option value="bread">Other</option>
    <% } %>
    <% if(language=="am"){ %>
      <option value="bread" selected disabled>Ընտրել այլ ուտելիք</option>
      <option value="bread">Լոլիկ</option>
      <option value="bread">Վարունգ</option>
      <option value="bread">Երշիկ</option>
      <option value="bread">Այլ</option>
    <% } %>
  </select>
</div>

<div class="food-containers">
  <h1 class="container-inside-text"><%= data["container_4"]["name"][language] %></h1>
  <% if(language=="en"){ %>
    <h2 class="container-number">Container 4</h2>
  <% } %>
  <% if(language=="am"){ %>
    <h2 class="container-number">Տարրա 4</h2>
  <% } %>
  <img src="<%= data["container_4"]["image_path"] %>" class="container-food-photo" alt="">
  <select class="container-selector" name="container-2">
    <% if(language=="en"){ %>
      <option value="bread" selected disabled>Choose other food</option>
      <option value="bread">Tomato</option>
      <option value="bread">Cucumber</option>
      <option value="bread">Sausage</option>
      <option value="bread">Other</option>
    <% } %>
    <% if(language=="am"){ %>
      <option value="bread" selected disabled>Ընտրել այլ ուտելիք</option>
      <option value="bread">Լոլիկ</option>
      <option value="bread">Վարունգ</option>
      <option value="bread">Երշիկ</option>
      <option value="bread">Այլ</option>
    <% } %>
  </select>
</div>

<script>
  function insertAfter(referenceNode, newNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
  }
  
  function add_input(id) {
    if ()
    var div = document.getElementById("container-2");
    element = document.createElement("button");
    element.innerHTML = `<button type="submit" value="Submit">Update</button>`;
    element.style.cssText = "background-color: #0563af; width: 80%; margin-left: 10%; margin-top: 5%"
    insertAfter(div, element);
    element = document.createElement("input");
    element.innerHTML = `<input type="text" style="" id="other-name-input" name="other-name-input" placeholder="New name...">`;
    element.style.cssText = "margin-left: 10%; width : 80%; margin-top: 5%; placeholder: 'New name'; background-color: #0563af;padding-left: 10px; color: white; border: 0px;"
    insertAfter(div, element);
    
  }
</script>

<%- include('footer.ejs') %>